---
import { Image } from 'astro:assets';
import React from '../assets/react.svg';
import Kotlin from '../assets/kotlin.svg';
import Javascript from '../assets/javascript.svg';
import Typescript from '../assets/typescript.svg';
import Go from '../assets/go.svg';
import Python from '../assets/python.svg';
import Java from '../assets/java.svg';
import Aws from '../assets/aws.svg';
import Docker from '../assets/docker.svg';

const logos = [
  { src: React, alt: "React" },
  { src: Kotlin, alt: "Kotlin" },
  { src: Javascript, alt: "Javascript" },
  { src: Typescript, alt: "Typescript" },
  { src: Go, alt: "Go" },
  { src: Python, alt: "Python" },
  { src: Java, alt: "Java" },
  { src: Aws, alt: "Aws" },
  { src: Docker, alt: "Docker" },
];
---

<section class="carosal">
  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        {logos.map(logo => (
          <li class="glide__slide">
            <Image src={logo.src} alt={logo.alt} width={75} height={75} loading={'eager'}/>
          </li>
        ))}
      </ul>
    </div>
  </div>
</section>

<style>
  .carosal {
    padding: 30px 0;
  }
  
  .glide__slide {
  height: auto;
  overflow: visible;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glide__slide img {
  transition: transform 0.3s ease;
  height: 50px;
  transform-origin: center center;
}

.glide__slide img:hover {
  transform: scale(1.55);
  z-index: 10;
}

</style>

<script>
  import Glide from '@glidejs/glide';
  import '@glidejs/glide/dist/css/glide.core.min.css';
  
  document.addEventListener('DOMContentLoaded', () => {
    new Glide('.glide', {
      type: 'carousel',
      autoplay: 2000,
      perView: 9,
      gap: 15,
      animationDuration: 750,
      hoverpause: true,
      breakpoints: {
        800: { perView: 3 },
        480: { perView: 2 }
      }
    }).mount();
  });
</script>
