---
import { Image } from 'astro:assets';
import ideaToProductionImage from '../assets/idea2prod.svg';
---
<section class="hero">
    <div class="pitch">
        <h2>
            I'm Alwyn, A Full Stack Developer & AI Engineer
        </h2>
        <p>
            I take concepts and ideas to production
        </p>
    </div>

    <div class="image-holder">
        <Image src={ideaToProductionImage} alt="Idea to Production" width={600} height={600} loading={'eager'}/>
    </div>
</section>

<style>
    .hero{
        display: flex;
        justify-content: space-between;
        padding-inline: 5rem;
        align-items: center;
        flex-wrap: wrap;
    }

    .pitch h2{
        overflow: hidden; 
        border-right: .15em solid var(--terinary-color); 
        white-space: nowrap; 
        margin: 0 auto;
        animation: 
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
    }

    .pitch p{
        font-size: 1.2rem;
        font-family: 'Kurale', serif;
        font-style: italic;
        color: var(--primary-color);
    }
    
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: var(--terinary-color); }
    }

    .hero .image-holder img{
        max-width: 100%;
        height: auto;
    }

    @media (max-width: 768px) {
        .hero {
            flex-direction: column;
            padding-inline: 1rem;
        }
    }
</style>
