<section class="hero">
    <div class="pitch">
        <h2>
            I'm Alwyn, A Full Stack Developer & AI Engineer
        </h2>
        <p>
            I take concepts and ideas to production
        </p>
    </div>

    <div>
        <img src="/images/hero.png" alt="Hero Image" />
    </div>
</section>

<style>

    .hero{
        display: flex;
        justify-content: space-between;
        padding-inline: 2rem;
        align-items: center;
    }

    .pitch h2{
        overflow: hidden; 
        border-right: .15em solid var(--terinary-color); 
        white-space: nowrap; 
        margin: 0 auto;
        animation: 
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
    }

    .pitch p{
        font-size: 1.2rem;
        font-family: 'Kurale', serif;
        color: var(--primary-color);
    }

    
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: var(--terinary-color); }
    }

</style>