---
import Carosal from './Carosal.astro';
---

<section class="skills">
  <div class="skills-header">
    <h2>I Specialize In</h2>
  </div>
  <Carosal />
</section>

<style>
  .skills {
    padding-inline: 5rem;
  }

  .skills-header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .skills-header h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
</style>
